/* Loader ======================================================== */

.loader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 99992;
}

.spinner {
	
	z-index: 99992;
	
    /* Size and position */
    font-size: 100px; /* 1em */
    width: 1em;
    height: 1em;
    margin: 250px auto;
    position: relative;
 
    /* Styles */
    list-style: none;
    border-radius: 50%;
    border: .02em solid rgba(150,150,150,0.1); /* Subtle white line circling the dots */
}

.spinner li {
    width: .2em;
    height: .2em;
    position: absolute;
    border-radius: 50%;
}

.spinner li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}
 
.spinner li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}
 
.spinner li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}
 
.spinner li:nth-child(4) {
   top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
    to { -o-transform: rotate(360deg); }
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}


/* Separadores ======================================================== */

/* Seccion base */
.separador {
	position: relative;
}

/* Common style for pseudo-elements - uno por cada separador*/
.separador::before,
.separador::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

/* Folded corner */
.ss-style-foldedcorner::before,
.ss-style-foldedcorner::after {
	bottom: 0;
	width: 60px;
	height: 60px;
}

.ss-style-foldedcorner::before {
	right: 0;
	background-image: -webkit-linear-gradient(top left, #999 50%, #B5B5B5 50%);
	background-image: linear-gradient(315deg, #999 50%, #B5B5B5 50%);
}

.ss-style-foldedcorner::after {
	right: 60px;
	background-image: -webkit-linear-gradient(top left, transparent 50%, #777 50%);
	background-image: linear-gradient(315deg, #777 50%, transparent 50%);
}


/* QuotesRotator ======================================================== */

.cbp-qtrotator {
    position: relative;
    margin: 8em auto -10em auto;
    max-width: 800px;
    width: 100%;
    min-height: 400px;
}

.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    min-height: 200px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 40px 0 0 0;
    margin: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
    border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
    position: relative; 
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
    content: " ";
    display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
    clear: both;
}

.cbp-qtprogress {
    display: block;
    position: absolute;
    background: #F96C00;
    height: 1px;
    width: 0%;
    top: 0;
    left: 0%;
    z-index: 1000;
}

.cbp-qtrotator blockquote {
    margin: 0;
    padding: 0;
}

.cbp-qtrotator blockquote p {
    font-family: Calibri;
    font-size: 1.3em;
    color: #888;
    font-weight: 200;
    margin: 0.4em 0 1em;
}

.cbp-qtrotator blockquote footer {
    font-size: 1.5em;
    text-align: center;
    color: #F96C00;
}

.cbp-qtrotator blockquote footer:before {
    content: '';
}

.cbp-qtrotator blockquote footer:after {
    content: '';
}

.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    margin-left: 3em;
}

/* Example for media query */
@media screen and (max-width: 768px) {

    .cbp-qtrotator {
    margin: 3em auto 3em auto;
    }

    .cbp-qtrotator .cbp-qtcontent {
    border-bottom: 0;
    }

    .cbp-qtcontent img {
        display: none;
    } 

    .cbp-qtrotator {
        font-size: 70%;
    }

    .cbp-qtrotator img {
        width: 80px;
    }

}


/* HoverEffects ======================================================== */

.grid {
    padding: 50px 0 100px 0;
    max-width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    cursor: crosshair;
    display: inline-block;
    width: 330px;
    margin: 20px;
    padding: 0;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    background: #2c3f52;
    color: #ed4e6e;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .grid {
        padding: 20px 0 50px 0;
    }
    .grid li {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/* Caption Style 6 */

.cs-style-6 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-6 figure:hover figcaption,
.cs-style-6 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
}

.cs-style-6 figcaption h3 {
    margin-top: 70px;
    font-size: 2em;
    color: #25B7D3;
}

.cs-style-6 figcaption span {
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    text-align: justify;
    color: #fff;
}

.cs-style-6 figcaption a {
    display: none;
    margin-top: 30px;
}


/* Mockup Slider ======================================================== */

.wrap {
    margin: 0 auto;
    width: 100%;
    height: 0;
    padding-top: 42%; /* ratio of image * 100 */
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position: relative;
}

.mockup {
    position: absolute;
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.mockup::after {
    content: '';
    position: absolute;
    background: rgba(51,71,89,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mockup__img {
    display: block;
    width: 1900px;
}

.mobile {
    position: absolute;
    z-index: 100;
    overflow: hidden;
    background: #333;
    width: 320px;
    height: 480px;
    top: 155px;
    left: 650px;
    outline: 1px solid transparent;
    -webkit-transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px 0px;
    -webkit-transform: matrix3d(1.22169093616942, 0.320757077762008, 0, -0.000058475573317397, -0.757225760065735, 0.547357044147307, 0, -0.000247597171385174, 0, 0, 1, 0, 189, 21, 0, 1);
    transform: matrix3d(1.22169093616942, 0.320757077762008, 0, -0.000058475573317397, -0.757225760065735, 0.547357044147307, 0, -0.000247597171385174, 0, 0, 1, 0, 189, 21, 0, 1);  
}

.slideshow {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.slideshow__item {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.slideshow__item.current{
    pointer-events: auto;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slideshow img {
    width: 100%;
    filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.slideshow__item.in--next {
    -webkit-animation: inNext 0.5s forwards cubic-bezier(0.6,0,0.4,1);
    animation: inNext 0.5s forwards cubic-bezier(0.6,0,0.4,1);
}

.slideshow__item.out--next {
    -webkit-animation: outNext 0.5s forwards cubic-bezier(0.6,0,0.4,1);
    animation: outNext 0.5s forwards cubic-bezier(0.6,0,0.4,1);
}

.slideshow__item.in--prev {
    -webkit-animation: inPrev 0.5s forwards cubic-bezier(0.6,0,0.4,1);
    animation: inPrev 0.5s forwards cubic-bezier(0.6,0,0.4,1);
}

.slideshow__item.out--prev {
    -webkit-animation: outPrev 0.5s forwards cubic-bezier(0.6,0,0.4,1);
    animation: outPrev 0.5s forwards cubic-bezier(0.6,0,0.4,1);
}

@-webkit-keyframes inPrev {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes inPrev {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes inNext {
    0% {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes inNext {
    0% {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes outPrev {
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes outPrev {
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes outNext {
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes outNext {
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}