/* Global properties ======================================================== */

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

section {
    background: #f5f5f5;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    font-weight: 300;
    color: #428BCA;   
}

p {
    font-size: 1.5em;
    color: #444;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

.pad50 {
    padding-top: 50px;
}

.underlineh1 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    margin-top: 2%;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 480px) {

    .underlineh1 {
        width: 250px;
    }

}


/* INTRO ======================================================== */

.intro-section {
    height: auto;
    background: none;
}


/* ABOUT ======================================================== */

.about-section {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f7842c; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7842c 0%, #fcccb5 5%, #fff7ef 10%, #fffaf7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7842c), color-stop(5%,#fcccb5), color-stop(10%,#fff7ef), color-stop(100%,#fffaf7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7842c 0%,#fcccb5 5%,#fff7ef 10%,#fffaf7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7842c 0%,#fcccb5 5%,#fff7ef 10%,#fffaf7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7842c 0%,#fcccb5 5%,#fff7ef 10%,#fffaf7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7842c 0%,#fcccb5 5%,#fff7ef 10%,#fffaf7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7842c', endColorstr='#fffaf7',GradientType=0 ); /* IE6-9 */
}

.about-section h1 {
    color: #333;
}

.about-section .underlineh1 {
    border-bottom: 3px solid #F96C00;
}

.about-section p p2 {
    color: #F96C00;
}

.thumbs {
  display: block;
  margin-bottom: 30px;
  padding: 30px;
  background-color: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.thumbs h3 {
    font-size: 1.7em;
    color: #F96C00;
    font-weight: 600;
}

.thumbs p {
    font-size: 1.1em;
    color: #666666;
    font-weight: 0;
}


/* SERVICES ======================================================== */

.services-section {
    height: auto;
    padding-top: 100px;
    padding-bottom: 0px;
}

.services-section h1 {
    color: #333;
}

.services-section .underlineh1 {
    border-bottom: 3px solid #32BEA6;
}

.services-section p p2 {
    color: #32BEA6;
}


/* DETAILS ======================================================== */

.details-section {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.details-section h1 {
    color: #333;
}

.details-section .underlineh1 {
    border-bottom: 3px solid #E04660;
}

.details-section p p2 {
    color: #E04660;
}


/* CONTACT ======================================================== */

.contact-section {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.contact-section h1 {
    color: #333;
}

.contact-section .underlineh1 {
    border-bottom: 3px solid #FABC3D;
}

.contact-section a {
    color: #CB8A03;
}

.contact-section a:hover {
    color: #FAAA05;
}

.form-control,
.contact-section button {
    color: #777;
    background: #ddd;
    border-radius: 0;
    border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #FAAA05;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(203, 138, 3, 0.6);
}

.contact-section button:hover {
    color: #fff;
    background: #FAAA05;
}


/* SOCIAL ======================================================== */

.social-section {
    height: auto;
    margin: 0;
    padding: 30px 0;
    background: #FAAA05;
    border-top: 3px solid #D59104;
}

.social-section a {
    margin: 15px 30px;
    color: #fff;
    outline: 0;
    text-decoration: none;
}

/* COPYRIGHT ======================================================== */

.copyright-section {
    height: auto;
    padding: 10px 0 10px 0;
    background: #333;
    color: #eee;
}


/* MEDIA QUERIES ======================================================== */

@media(max-width:767px) {
        
    .intro-section,
    .about-section,
    .services-section,
    .details-section,
    .contact-section {
        padding-top: 45px;
        padding-bottom: 0;
    }
    
}


/* Sign In ======================================================== */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}